/* reset code starts here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* reset code ends here */

h1 {
  text-align: center;
  font-size: 3rem;
}

/* posts starts here */
.posts {
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.post {
  width: 23%;
  background-color: coral;
  color: rgb(51, 234, 222);
  margin: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.3rem;
  transition: all 0.4s;
}

.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* posts ends here */

/* Responsive parts starts here */
@media screen and (max-width: 992px) {
  .post {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%;
  }
}

/* Responsive parts ends here */
